*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

:root {
  --primary-color: hsl(4, 100%, 67%);
  --neutral-color-800: hsl(234, 29%, 20%);
  --neutral-color-600: hsl(235, 18%, 26%);
  --neutral-color-400: hsl(231, 7%, 60%);
  --neutral-color-100: hsl(0, 0%, 100%);
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: var(--neutral-color-800);
}

.sign-up-container {
  width: 375px;
  background-color: var(--neutral-color-100);
  margin-bottom: 10px;
}

img {
  display: block;
  width: 100%;
}

.container-text {
  display: flex;
  flex-direction: column;
  padding: 35px;
  gap: 20px;
}

.container-text h1 {
  color: var(--neutral-color-800);
}

.container-text p {
  font-size: 1rem;
  color: var(--neutral-color-600);
}

.container-text ul li {
  list-style: none;
  color: var(--neutral-color-600);
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.container-text ul li::before {
  content: url(assets/images/icon-list.svg);
}

label {
  font-size: 0.75rem;
  font-weight: 700;
  margin-bottom: 10px;
  display: inline-block;
}

#email {
  display: block;
  margin-bottom: 20px;
  padding: 15px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid var(--neutral-color-400);
  opacity: 0.7;
}

.container-text button {
  width: 100%;
  padding: 15px 0;
  border: none;
  border-radius: 5px;
  background-color: var(--neutral-color-800);
  color: var(--neutral-color-100);
  font-family: "Roboto", sans-serif;
}

.success-container {
  display: none;
}

@media screen and (min-width: 700px) {
  body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }
  .sign-up-container {
    width: 700px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 10px;
    padding: 20px;
  }

  .container-text {
    grid-column-start: 1;
    grid-row-start: 1;
  }
}
